#middle-pane #bottom-pane {
    -fx-background-color: #E3E3E3;
}
.scroll-pane {
    -fx-background-color: #E3E3E3;
}

*:focused {
    -fx-focus-color: #256ED1;      /* Haupt-Focus-Farbe */
    -fx-focus-border-color: #256ED1; /* Alternative Eigenschaft */
    -fx-faint-focus-color: #256ED122; /* Transparente Variante */
}

#top-pane .button {
    -fx-text-fill: black;
    -fx-background-color: white;
}

#top-pane .label {
    -fx-text-fill: #E3E3E3;
}

#top-pane .combo-box {
    -fx-text-fill: black;
    -fx-background-color: white;
}

*.toggle-switch:selected .thumb-area {
    -fx-background-color: #555555;

}

.scroll-pane:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.scroll-pane .scroll-bar {
    -fx-pref-height: 15px;  /* Höhe der Scrollbar */
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #888888;
    -fx-background-radius: 5;
}

.scroll-pane .scroll-bar .track {
    -fx-background-color: #cccccc;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-pref-height: 15px;
    -fx-pref-width: 15px
}


/* RangeSlider Styling */
.range-slider {
-fx-pref-height: 20px;
}

/* Track (Hintergrund) */
.range-slider .track {
    -fx-background-color: #cccccc;
    -fx-background-radius: 5;
    -fx-pref-height: 8px;
}

/* Range Track (der Bereich zwischen den beiden Thumbs) */
.range-slider .range-bar {
    -fx-background-color: #888888;
    -fx-background-radius: 5;
    -fx-pref-height: 8px;
}
/* Thumbs (die beiden Schieberegler) */
.range-slider .low-thumb,
.range-slider .high-thumb {
    -fx-background-color: #555555;
    -fx-background-radius: 10;
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
}

/* Hover-Effekt für Thumbs */
.range-slider .low-thumb:hover,
.range-slider .high-thumb:hover {
    -fx-background-color: #333333;
}

