#middle-pane #bottom-pane {
    -fx-background-color: #E3E3E3;
}
.scroll-pane {
    -fx-background-color: #E3E3E3;
}

*:focused {
    -fx-focus-color: #256ED1;      /* Main focus color */
    -fx-focus-border-color: #256ED1; /* alternate color */
    -fx-faint-focus-color: #256ED122; /* transparent color */
}

#top-pane .button {
    -fx-text-fill: black;
    -fx-background-color: white;
}

#top-pane .label {
    -fx-text-fill: #E3E3E3;
}

#top-pane .combo-box {
    -fx-text-fill: black;
    -fx-background-color: white;
}


*.toggle-switch:selected .thumb-area {
    -fx-background-color: #555555;

}

/*scroll pane styling */
.scroll-pane:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.scroll-pane .scroll-bar {
    -fx-pref-height: 15px;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #888888;
    -fx-background-radius: 5;
}

.scroll-pane .scroll-bar .track {
    -fx-background-color: #cccccc;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-pref-height: 15px;
    -fx-pref-width: 15px
}


/* RangeSlider styling */
.range-slider {
-fx-pref-height: 20px;
}

/* Track (background))*/
.range-slider .track {
    -fx-background-color: #cccccc;
    -fx-background-radius: 5;
    -fx-pref-height: 8px;
}

/* Range Track (between thumbs)*/
.range-slider .range-bar {
    -fx-background-color: #888888;
    -fx-background-radius: 5;
    -fx-pref-height: 8px;
}
/* Thumbs*/
.range-slider .low-thumb,
.range-slider .high-thumb {
    -fx-background-color: #555555;
    -fx-background-radius: 10;
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
}

/* Hover for thumbs */
.range-slider .low-thumb:hover,
.range-slider .high-thumb:hover {
    -fx-background-color: #333333;
}

/* CheckBox */
.check-box {
    -fx-padding: 0;
}

/* CheckBox the thick box itself */
.check-box .box {
    -fx-padding: 0;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;

}


.check-box:selected .mark {
    -fx-background-color: #555555;
    -fx-shape: "";
    -fx-background-insets: 4px;
}

